/* .info-section {
    padding: 20px 0;
    background-color: #1376bd;
} */

.info-box {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    color: "#1376bd";
}

.single-info {
    display: flex;
    padding: 30px;
    position: relative;
    border-right: 1px solid #1376bd;
}

.single-info:nth-child(4) {
    border-right: 0px solid #1376bd;
}

.single-info:hover {
    background-color: #1376bd;
    transition: 0.3s;
}

.single-info .info-icon i {
    color: #1376bd;
    transition: color 0.3s;
}

.single-info .info-my-content p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
}

.single-info:hover .info-icon i,
.single-info:hover .info-my-content p {
    color: white;
}

.info-icon {
    font-size: 50px;
    line-height: 60px;
    margin-right: 10px;
}

.info-my-content p {
    font-size: 18px !important;
    text-align: center;
    color: #1376bd;
    font-weight: bold;
}

.my-btn-up {
    background-color: #1376bd;
}

/* .info-item {
    padding: 20px;
    background-color: #ffbf60;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info-item img {
    max-width: 50px;
    margin-bottom: 10px;
}

.info-item p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
} */
